{#<!-- This is the team_template.j2 file -->#}
{#{% if Index is divisibleby 2 %}#}
{#<table style="width: 100%; border: none;">#}
{#    <tr>#}
{#        <td style="width: 50%; vertical-align: top; border: none;">#}
{#            <h2> {{ user_name }} </h2>#}
{#            {% if about_me %}<p>{{ about_me }}</p>{% endif %}#}
{#            {% if user_email %}<p>Email: <a href="mailto:{{ user_email }}">{{ user_email }}</a></p>{% endif %}#}
{#            {% if linkedin %}<p>LinkedIn: <a href="{{ linkedin }}" target="_blank">{{ linkedin|remove_http_s }}</a></p>{% endif %}#}
{#            {% if github %}<p>GitHub: <a href="{{ github }}" target="_blank">{{ github|remove_http_s }}</a></p>{% endif %}#}
{#            {% if website %}<p>Website: <a href="{{ website }}" target="_blank">{{ website|remove_http_s }}</a></p>{% endif %}#}
{##}
{#        </td>#}
{#        <td style="width: 50%; vertical-align: top; border: none;">#}
{#            <img src="{{ image | image_absolute_path }}" alt="{{ user_name }}'s photo" style="width: 100%; border-radius: 50%">#}
{#        </td>#}
{#    </tr>#}
{#</table>#}
{#{% else %}#}
{#<table style="width: 100%; border: none;">#}
{#    <tr>#}
{#        <td style="width: 50%; vertical-align: top; border: none;">#}
{#            <img src="{{ image | image_absolute_path }}" alt="{{ user_name }}'s photo" style="width: 100%; border-radius: 50%">#}
{#        </td>#}
{#        <td style="width: 50%; vertical-align: top; border: none;">#}
{#            <h2> {{ user_name }} </h2>#}
{#            {% if about_me %}<p>{{ about_me }}</p>{% endif %}#}
{#            {% if user_email %}<p>Email: <a href="mailto:{{ user_email }}">{{ user_email }}</a></p>{% endif %}#}
{#            {% if linkedin %}<p>LinkedIn: <a href="{{ linkedin }}" target="_blank">{{ linkedin|remove_http_s }}</a></p>{% endif %}#}
{#            {% if github %}<p>GitHub: <a href="{{ github }}" target="_blank">{{ github|remove_http_s }}</a></p>{% endif %}#}
{#            {% if website %}<p>Website: <a href="{{ website }}" target="_blank">{{ website|remove_http_s }}</a></p>{% endif %}#}
{#        </td>#}
{#    </tr>#}
{#</table>#}
{#{% endif %}#}
{#<hr> <!-- Horizontal line to separate entries -->#}


<!-- This is the team_template.j2 file -->
{% if index is divisibleby 2 %}
<table style="width: 100%; border: none;">
    <tr>
        <td style="width: 50%; vertical-align: top; border: none;">
            <h2> {{ user_name }} </h2>
            {% if about_me %}<p>{{ about_me }}</p>{% endif %}
            <p>
                {% if user_email %}<i class="fas fa-envelope"></i> <a href="mailto:{{ user_email }}">{{ user_email }}</a><br>{% endif %}
                {% if linkedin %}<i class="fab fa-linkedin"></i> <a href="{{ linkedin }}" target="_blank">{{ linkedin|remove_http_s }}</a><br>{% endif %}
                {% if github %}<i class="fab fa-github"></i> <a href="{{ github }}" target="_blank">{{ github|remove_http_s }}</a><br>{% endif %}
                {% if website %}<i class="fas fa-globe"></i> <a href="{{ website }}" target="_blank">{{ website|remove_http_s }}</a>{% endif %}
            </p>
        </td>
        <td style="width: 50%; vertical-align: top; border: none;">
            <img src="{{ image | image_absolute_path }}" alt="{{ user_name }}'s photo" style="width: 100%; border-radius: 50%">
        </td>
    </tr>
</table>
{% else %}
<table style="width: 100%; border: none;">
    <tr>
        <td style="width: 50%; vertical-align: top; border: none;">
            <img src="{{ image | image_absolute_path }}" alt="{{ user_name }}'s photo" style="width: 100%; border-radius: 50%">
        </td>
        <td style="width: 50%; vertical-align: top; border: none;">
            <h2> {{ user_name }} </h2>
            {% if about_me %}<p>{{ about_me }}</p>{% endif %}
            <p>
                {% if user_email %}<i class="fas fa-envelope"></i> <a href="mailto:{{ user_email }}">{{ user_email }}</a><br>{% endif %}
                {% if linkedin %}<i class="fab fa-linkedin"></i> <a href="{{ linkedin }}" target="_blank">{{ linkedin|remove_http_s }}</a><br>{% endif %}
                {% if github %}<i class="fab fa-github"></i> <a href="{{ github }}" target="_blank">{{ github|remove_http_s }}</a><br>{% endif %}
                {% if website %}<i class="fas fa-globe"></i> <a href="{{ website }}" target="_blank">{{ website|remove_http_s }}</a>{% endif %}
            </p>
        </td>
    </tr>
</table>
{% endif %}
<hr> <!-- Horizontal line to separate entries -->
